﻿@model Chef

    <section id="chefs" class="chefs section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Chefs</h2>
          <p>Our <span>Proffesional</span> Chefs</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="chef-member">
              <div class="member-img">
                <img src="~/assets/img/chefs/@Model.Image" class="img-fluid" alt="">
                <div class="social">
                  <a href="@Model.ChefSocialMedia.TwitterUrl"><i class="bi bi-twitter"></i></a>
                  <a href="@Model.ChefSocialMedia.FacebookUrl"><i class="bi bi-facebook"></i></a>
                  <a href="@Model.ChefSocialMedia.InstagramUrl"><i class="bi bi-instagram"></i></a>
                  <a href="@Model.ChefSocialMedia.LinkedinUrl"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>@Model.Name</h4>
                <span>@Model.Profession.Name</span>
                <p>@Model.About</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>